/* Page structure */

html {
	font-size: 14px;
}

body {
	margin: 0;
	background-color: rgb(245, 245, 245);
}

/* Titles, paragraphs, summaries, ... */

h1 {
	margin-left: 7%;
	margin-bottom: 0.5em;
}

h2 {
}

h3 {
}

/* General useful style */

:disabled:hover {
	cursor: not-allowed;
}	

/* Useful for debug */

.debug {
	background-color: rgba(255, 0, 255, 0.3);
	border: 1px dashed black;
}
