/* General */

button.question-mark {
	height: 16px;
	width: 16px;
	background-image: url("images/question-mark.svg");
	background-color: transparent;
	border: none;
	margin-left: 5px;
}

/* Modals */

div.modal h2 {
	font-size: 15px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 0px;
}

label.modal-title {
	font-size: 1.5rem;
}

td div.check {
	height: 20px;
	width: 20px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("images/green-check.svg");
	background-repeat: no-repeat;
}

/* Input fields zone */

div.colorSchemeFace input[type=range] {
	width: 50px;
}

label.inputCategoryLabel {
	font-size: 1.3rem;
	font-weight: 600;
}

label.inputCategoryLabel:not(:nth-child(2)) { /* all except first one */
	margin-top: 10px;
}

label.inputLabel {
	margin-top: 10px;
	font-weight: 500;
}

label {
	margin-bottom: 5px;
}

textarea#moveSequences {
	min-height: 90px;
}

div#htmlTagContainer{
	margin-top: 10px;
}
