/* Cards */

div.card-3 {
	background-color: rgba(0,0,0,0.1);
	width: 32%;
	margin-bottom: 15px;
}

/* Tabs */

.tab-pane {
	padding: 1rem 0rem 1rem 0rem;
}

div:has(div#runnerConfigurationInput option[value=htmlTag]:not(:checked)) li#logsHtmlTagTabNavItem {
	display: none;
}

/* Icons */

button.icon {
	height: 16px;
	width: 16px;
	background-color: transparent;
	border: none;
}

button.question-mark {
	background-image: url("./images/question-mark.svg");
	margin-left: 5px;
}

button.warning {
	background-image: url("./images/warning.svg");
	margin-right: 5px;
	cursor: default !important;
}

/* Modals */

div.modal h2 {
	font-size: 15px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 0px;
}

div.modal h3 {
	font-size: 14px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 0px;
}

label.modal-title {
	font-size: 1.5rem;
}

td div.check {
	height: 20px;
	width: 20px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("./images/green-check.svg");
	background-repeat: no-repeat;
}

/* Color pickers */

div.pickr button.pcr-button::after {
	border: 1px solid #ced4da;
	content: attr(data-face);
	padding-top: 2px;
	font-weight: bolder;
}

div.pickr[data-fontColor=white] button.pcr-button::after {
	color: white;
}

div.pickr[data-fontColor=black] button.pcr-button::after {
	color: black;
}

/* Color scheme */

div#colorScheme {
	margin-top: 10px;
}

div#colorScheme div.pickr {
	display: inline-block;
}

div#colorScheme div.pickr:has(button.pcr-button[data-face=U]),
div#colorScheme div.pickr:has(button.pcr-button[data-face=D]) {
	margin: 2px 0px 2px 32px;
}

div#colorScheme :has(button.pcr-button[data-face=L]),
div#colorScheme :has(button.pcr-button[data-face=F]),
div#colorScheme :has(button.pcr-button[data-face=R]),
div#colorScheme :has(button.pcr-button[data-face=B]) {
	margin: 0px;
}

/* Input fields */

label.inputCategoryLabel {
	font-size: 1.3rem;
	font-weight: 600;
}

div#runnerConfigurationInput div#drawingOptionsRunnerInputs,
div#runnerConfigurationInput div#loggerRunnerInputs {
	padding-top: 1rem;
}

div#runnerConfigurationInput label, div#moveSequencesInputs label {
	margin-bottom: 5px;
}

label.inputLabel {
	margin-top: 10px;
	font-weight: 500;
}

div.pickr[data-colorPickerId=imageBackgroundColor],
div.pickr[data-colorPickerId=puzzleColor] {
	margin-top: calc(1.75rem - 13px);
	margin-left: calc(50% - 14px);
}

textarea#moveSequences {
	min-height: 90px;
}

div#htmlTagContainer{
	margin-top: 10px;
}

div#loggerRunnerInputs:has(select#loggerMode option[value=htmlTag]:not(:checked)) div#htmlTagContainer {
	display: none;
}

input#inOutput, label[for=inOutput] {
	display: inline-block;
	vertical-align: middle;
}

/* Code blocks */

.hljs { /* syntax highlighting from Highlight.js */
	border-radius: 5px;
	background-color: #333333;
}

pre:has(code.hljs) {
	overflow: unset;
}

/* Runner errors */

div#runnerErrors:has(code:empty) {
	display: none;
}

div#runnerErrors label {
	font-size: 1.3rem;
	font-weight: 600;
}

/* SVG results */

div#svgResults svg {
	margin: 0px 10px 10px 0px;
}

div#svgResults:has(input#svgResultsOutlineSwitch:checked) svg {
	outline: 1px dashed #AAAAAA;
}

div#svgResultsOutlineSelector {
	margin-bottom: 0.5rem;
	transform: translateY(-4px);
}

label#svgResultsOutlineLabel {
	transform: translate(-35px, -1px);
	padding-left: 35px;
	padding-right: 10px;
	user-select: none;
}

input#svgResultsOutlineSwitch, label#svgResultsOutlineLabel {
	vertical-align: middle;
}

input#svgResultsOutlineSwitch, label#svgResultsOutlineLabel {
	cursor: pointer;
}
